<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.devmob.android.apprater"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="3" />

    <!-- Devmob app rater configuration -->
    <meta-data android:name="de.devmob.launch_till_rate" android:value="4" />
    <meta-data android:name="de.devmob.days_till_rate" android:value="7" />
    <meta-data android:name="de.devmob.events_till_rate" android:value="2" />
    <meta-data android:name="de.devmob.verbose" android:value="true" />

</manifest>